html {
  font-size: 62.5%;
}

body {
  background-color: $dark-blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $off-blue-grey;
}

h2 {
  text-align: center;
}

input[type="text"] {
  background-color: pink;
  width: 470px;
  text-align: center;
}

label {
  color: $broken-white;
}
